@import "tailwindcss";

@theme {
  --color-mcNavy: #0A1628;
  --color-mcLight: #F0F4F8;
  --color-mcOrange: #EB5A1E;
  --color-mcTeal: #0D9488;

  --font-syne: "Syne", sans-serif;
  --font-sans: "DM Sans", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

body {
  background-color: var(--color-mcLight);
  color: var(--color-mcNavy);
  margin: 0;
  padding: 0;
}